<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <title>Catalog</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">
    <img src="/static/chilliguy_small.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Chillie's Sports Catalog
    </a>
    <span class="nav-item">
      <a class="nav-link text-white" href="{{ url_for('add_item') }}">Add Item</a>
    </span>
    <!-- {% if not user %}
      <span class="nav-item">
        <a class="nav-link text-white" href="/signup">Sign Up</a>
      </span>
      <span class="nav-item">
        <a class="nav-link text-white" href="/login">Login</a>
      </span>
    {% else %}
      <span class="navbar-text">
        {{ user.name }}
      </span>
      <span class="nav-item">
        <a class="nav-link text-white" href="/logout">Logout</a>
      </span>
    {% endif %} -->
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>