<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Catagories</h1>
  {% for catagory in catagories %}
    <a href="{{url_for('show_catagory', catagory_id=catagory.id)}}">{{ catagory.name }}</a>
    <br>
  {% endfor %}
  <h1>Newest 10 Items</h1>
  {% for item in items | reverse %}
    {{ item.name }} ({{ item.catagory.name }}) {{ item.catagory.id }}
    <br>
  {% endfor %}
</body>
</html>