{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header">
      {{ catagory.name }}
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ item.name }}</h3>
      <p>{{ item.description }}</p>
      <br>
      <a class="btn btn-primary" href="{{ url_for('edit_item', item_id=item.id) }}">Edit</a>
      <a class="btn btn-danger"href="{{ url_for('delete_item', item_id=item.id) }}">Delete</a>
      <div>
        <small>
          Created by: {{ item.user.name }}
        </small>
      </div>
    </div>
  </div>
{% endblock %}